.box {
    padding: 1em;
    margin: 1em;
    width: 80%;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

.main-container {
    background: #fff;
    padding: 5em;
    margin: 1em auto;
}
.campaign-monitor-woocommerce .logo {
    width: 100%;
    fill:   #429bd1;
}

.logo-container {
    width: 20%;
    margin: 0.5em auto;
}
.campaign-monitor-woocommerce .static {
    position: static;
    float: none;
}

/* Common button styles */
.button {
    float: left;
    min-width: 180px;
    max-width: 250px;
    display: block;
    margin: 0.5em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
}

#connect-account {
}

/* Lists */

.campaign-monitor-woocommerce .list {

}
.campaign-monitor-woocommerce .list li {
     padding: 1em 0.5em;
     width: 100%;
     border-bottom: 1px solid #f3f3f3;
    margin:0;
 }
.campaign-monitor-woocommerce .list li:first-child {
    border-top: 1px solid #f3f3f3;
}

.campaign-monitor-woocommerce .list li:hover {
    background-color: #f8f8f8;
}

#selector .content {
    display:none;
}

#selector .content #variable {

}

.campaign-monitor-woocommerce .modal {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    margin-left: 160px;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;
}

.campaign-monitor-woocommerce .modal .content {
    width: 60%;
    padding: 1.5em;
    margin: 5em auto;
    border-radius: 0.2em;
    background: #fff;
}
.campaign-monitor-woocommerce .modal .content .btn-close{
    float:right;
    cursor: pointer;

}

.campaign-monitor-woocommerce .modal table {
    width:100%;
}
.campaign-monitor-woocommerce .progress-notice {
    position: fixed;
    background: #000;
    background: rgba(0,0,0, 0.5);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.sk-circle {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    position: relative;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}
.segments{
    margin: 0.5em auto;
}

.segments li {
    display: inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    width: 48%;
    margin: 0.5em;
}

.responsive-img {
    width: 100%;
}

#fieldMappper {
    display: none;
}
.dropdown-select  {
    width: 25em;
    padding: 5px;
}
.campaign-monitor-woocommerce input[type="text"],
.campaign-monitor-woocommerce select {
    width: 98%;
}
.new-client-creation, .new-list-creation {
    display: none;
}
.campaign-monitor-woocommerce .action-buttons {
    margin: auto;
    width: 80%;
}.campaign-monitor-woocommerce .action-buttons li {
     display:inline-block;
     *display:inline; /*IE7*/
     *zoom:1; /*IE7*/
     padding: 0.5em;

}